<style>
    footer {
      text-align: center;
      padding: 3px;
      background-color: wheat;
      color: white;
      position: fixed;
  left: 0;
  bottom: 0;
  width: 100%;

  color: white;
  text-align: center;
    }
    </style>
    
<footer>
    <p>Author: SACHIN<br>
    <a href="mailto:20bec076@nith.ac.in">20bec076@nith.ac.in</a></p>
  </footer>